In [1]:
#imports
import datetime
import pandas as pd

In [2]:
#read google sheets 
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vT6HrGh7EOzzejrvzkG_TGUM_GoGVDuvlUq7UcYqHlESZX6Vv8Hvwatsp4FLdE4Nmff9z5LSG3KQFq9/pub?gid=1362009325&single=true&output=csv')

In [3]:
df

,Date,Machines,Operator,Job,Total Prod,Rejection,Unnamed: 6,Unnamed: 7,Total Rej,Final Prod,Timming,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,M/C,Casting,Other,NaN,NaN,Start Time,End Time
1,1-6-2023,M/C No. 2,Sukh,test,10.0,1,2,3,6.0,4.0,08:30,15:30
2,2-6-2023,M/C No. 7,Sukh,ALU. BUSH ROUGH,10.0,1,2,3,6.0,4.0,08:30,05:30
3,2-6-2023,M/C No. 2,Sukh,S.R. Shaft THD,12.0,1,2,3,6.0,6.0,08:00,12:00
4,2-6-2023,M/C No. 2,Sukh,S.R. Shaft THD,15.0,6,0,1,7.0,8.0,08:30,13:30
5,2-6-2023,M/C No. 2,Sukh,test,25.0,10,5,3,18.0,7.0,08:30,13:30
6,20-5-2023,M/C No. 2,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,10:30,15:00
7,21-5-2023,M/C No. 3,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,11:30,16:00
8,22-5-2023,M/C No. 4,Sukh,test,10.0,1,3,2,6.0,4.0,12:30,17:00
9,23-5-2023,M/C No. 5,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,13:30,18:00
10,24-5-2023,M/C No. 6,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,14:30,19:00
11,25-5-2023,M/C No. 7,Sukh,test,10.0,1,3,2,6.0,4.0,15:30,20:00
12,26-5-2023,M/C No. 8,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,16:30,21:00
13,27-5-2023,M/C No. 9,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,17:30,22:00
14,3-7-2023,M/C No. 6,Sukh,ALU. BUSH FINAL,9.0,0,1,0,1.0,8.0,08:10,21:30
15,3-7-2023,M/C No. 2,Sukh,S.R. Shaft THD,10.0,1,1,2,4.0,6.0,08:30,21:10
16,3-7-2023,M/C No. 2,Sukh,S.R. Shaft THD,100.0,8,9,10,27.0,73.0,09:00,19:30

In [4]:

#inputs 

# startDate=input("Enter start :")
# endDate=input("Enter end :")
# job=input("Enter job :")
# breakTime=input("Enter breaktime")
startDate="02/06/2023"
endDate="02/07/2023"
# job=input("Enter job :")
# breakTime=input("Enter breaktime")

# # format
# format = '%d/%m/%Y'

# # convert from string format to datetime format
# startDate = datetime.datetime.strptime(startDate, format).strftime("%d/%m/%Y")
# endDate = datetime.datetime.strptime(endDate, format).strftime("%d/%m/%Y")
# # get the date from the datetime using date()
# # function
# print(startDate)
# print(endDate)

In [5]:
#renamed columns
df.rename(columns = {'Rejection':'M/C', 'Unnamed: 6':'CASTING',
                              'Unnamed: 7':'OTHER','Timming':'Start Time','Unnamed: 11':'End Time'}, inplace = True)

In [6]:
df=df.drop(index=0)
df=df.reset_index(drop=True)

In [7]:
type(df.loc[0,'Date'])

str

In [8]:
df['Date'] = pd.to_datetime(df['Date'],format='%d-%m-%Y')

In [9]:
job='S.R. Shaft THD'
breakTime='01:30:00'
start_date= '2023-06-01'
end_date= '2023-07-03'
# mask = (df['date'] > start_date) & (df['date'] <= end_date)
mask = (df['Date'] > start_date) & (df['Date'] <= end_date)
datedf=df.loc[mask]
newdf= datedf[datedf['Job']==job]
newdf=newdf.reset_index(drop=True)
newdf = newdf.astype({'Total Prod':'int','M/C':'int','CASTING':'int','OTHER':'int','Total Rej':'int','Final Prod':'int'})
newdf

,Date,Machines,Operator,Job,Total Prod,M/C,CASTING,OTHER,Total Rej,Final Prod,Start Time,End Time
0,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,12,1,2,3,6,6,08:00,12:00
1,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,15,6,0,1,7,8,08:30,13:30
2,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,10,1,1,2,4,6,08:30,21:10
3,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,100,8,9,10,27,73,09:00,19:30

In [10]:
sumrow={'Total Prod':sum(newdf['Total Prod']),'M/C':sum(newdf['M/C']),'CASTING':sum(newdf['CASTING']),'OTHER':sum(newdf['OTHER']),'Final Prod':sum(newdf['Final Prod'])}
sumrow= pd.DataFrame(sumrow,index=[0])
newdf = pd.concat([newdf, sumrow], axis=1)
newdf

,Date,Machines,Operator,Job,Total Prod,M/C,CASTING,OTHER,Total Rej,Final Prod,Start Time,End Time,Total Prod,M/C,CASTING,OTHER,Final Prod
0,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,12,1,2,3,6,6,08:00,12:00,137.0,16.0,12.0,16.0,93.0
1,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,15,6,0,1,7,8,08:30,13:30,NaN,NaN,NaN,NaN,NaN
2,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,10,1,1,2,4,6,08:30,21:10,NaN,NaN,NaN,NaN,NaN
3,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,100,8,9,10,27,73,09:00,19:30,NaN,NaN,NaN,NaN,NaN