In [1]:
#imports
import datetime
import pandas as pd

In [2]:
#read google sheets 
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vT6HrGh7EOzzejrvzkG_TGUM_GoGVDuvlUq7UcYqHlESZX6Vv8Hvwatsp4FLdE4Nmff9z5LSG3KQFq9/pub?gid=1362009325&single=true&output=csv')

In [3]:
df

,Date,Machines,Operator,Job,Total Prod,Rejection,Unnamed: 6,Unnamed: 7,Total Rej,Final Prod,Timming,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,M/C,Casting,Other,NaN,NaN,Start Time,End Time
1,1-6-2023,M/C No. 2,Sukh,test,10.0,1,2,3,6.0,4.0,08:30,15:30
2,2-6-2023,M/C No. 7,Sukh,ALU. BUSH ROUGH,10.0,1,2,3,6.0,4.0,08:30,05:30
3,2-6-2023,M/C No. 2,Sukh,S.R. Shaft THD,12.0,1,2,3,6.0,6.0,08:00,12:00
4,2-6-2023,M/C No. 2,Sukh,S.R. Shaft THD,15.0,6,0,1,7.0,8.0,08:30,13:30
5,2-6-2023,M/C No. 2,Sukh,test,25.0,10,5,3,18.0,7.0,08:30,13:30
6,20-5-2023,M/C No. 2,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,10:30,15:00
7,21-5-2023,M/C No. 3,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,11:30,16:00
8,22-5-2023,M/C No. 4,Sukh,test,10.0,1,3,2,6.0,4.0,12:30,17:00
9,23-5-2023,M/C No. 5,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,13:30,18:00
10,24-5-2023,M/C No. 6,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,14:30,19:00
11,25-5-2023,M/C No. 7,Sukh,test,10.0,1,3,2,6.0,4.0,15:30,20:00
12,26-5-2023,M/C No. 8,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,16:30,21:00
13,27-5-2023,M/C No. 9,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,17:30,22:00
14,3-7-2023,M/C No. 6,Sukh,ALU. BUSH FINAL,9.0,0,1,0,1.0,8.0,08:10,21:30
15,3-7-2023,M/C No. 2,Sukh,S.R. Shaft THD,10.0,1,1,2,4.0,6.0,08:30,21:10
16,3-7-2023,M/C No. 2,Sukh,S.R. Shaft THD,100.0,8,9,10,27.0,73.0,09:00,19:30

In [5]:
#renamed columns
df.rename(columns = {'Rejection':'M/C', 'Unnamed: 6':'CASTING',
                              'Unnamed: 7':'OTHER','Timming':'Start_Time','Unnamed: 11':'End_Time','Total Prod':'Total_Prod','Final Prod':'Final_Prod','Total Rej':'Total_Rej'}, inplace = True)

In [6]:
df=df.drop(index=0)
df=df.reset_index(drop=True)

In [7]:
type(df.loc[0,'Date'])

str

In [8]:
df['Date'] = pd.to_datetime(df['Date'],format='%d-%m-%Y')

In [9]:
job='S.R. Shaft THD'
breakTime='01:30:00'
start_date= '2023-06-01'
end_date= '2023-07-03'
# mask = (df['date'] > start_date) & (df['date'] <= end_date)
mask = (df['Date'] > start_date) & (df['Date'] <= end_date)
datedf=df.loc[mask]
newdf= datedf[datedf['Job']==job]
newdf=newdf.reset_index(drop=True)
newdf = newdf.astype({'Total_Prod':'int','M/C':'int','CASTING':'int','OTHER':'int','Total_Rej':'int','Final_Prod':'int'})
newdf

,Date,Machines,Operator,Job,Total_Prod,M/C,CASTING,OTHER,Total_Rej,Final_Prod,Start_Time,End_Time
0,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,12,1,2,3,6,6,08:00,12:00
1,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,15,6,0,1,7,8,08:30,13:30
2,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,10,1,1,2,4,6,08:30,21:10
3,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,100,8,9,10,27,73,09:00,19:30

In [10]:
sumrow={'Total_Prod':sum(newdf['Total_Prod']),'M/C':sum(newdf['M/C']),'CASTING':sum(newdf['CASTING']),'OTHER':sum(newdf['OTHER']),'Final_Prod':sum(newdf['Final_Prod'])}
sumrow= pd.DataFrame(sumrow,index=['Total'])
newdf = pd.concat([newdf, sumrow], axis=0)
newdf

,Date,Machines,Operator,Job,Total_Prod,M/C,CASTING,OTHER,Total_Rej,Final_Prod,Start_Time,End_Time
0,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,12,1,2,3,6.0,6,08:00,12:00
1,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,15,6,0,1,7.0,8,08:30,13:30
2,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,10,1,1,2,4.0,6,08:30,21:10
3,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,100,8,9,10,27.0,73,09:00,19:30
Total,NaT,NaN,NaN,NaN,137,16,12,16,NaN,93,NaN,NaN

In [11]:
newdf.shape[0]

5

In [12]:

df1 = df.copy()

# Convert the 'time_string' column to time object
df1['Start_Time'] = pd.to_datetime(df1['Start_Time'], format='%H:%M')
df1['End_Time'] = pd.to_datetime(df1['End_Time'], format='%H:%M')

# Calculate the time difference
df1['time_difference'] = df1['End_Time'] - df1['Start_Time']

df1['Start_Time'] = pd.to_datetime(df1['Start_Time'], format='%H:%M').dt.time
df1['End_Time'] = pd.to_datetime(df1['End_Time'], format='%H:%M').dt.time


# Display the DataFrame
print(df1)

         Date   Machines Operator              Job  Total_Prod M/C CASTING  \
0  2023-06-01  M/C No. 2     Sukh             test        10.0   1       2
1  2023-06-02  M/C No. 7     Sukh  ALU. BUSH ROUGH        10.0   1       2
2  2023-06-02  M/C No. 2     Sukh   S.R. Shaft THD        12.0   1       2
3  2023-06-02  M/C No. 2     Sukh   S.R. Shaft THD        15.0   6       0
4  2023-06-02  M/C No. 2     Sukh             test        25.0  10       5
5  2023-05-20  M/C No. 2     Sukh   S.R. Shaft THD        10.0   1       3
6  2023-05-21  M/C No. 3     Sukh   S.R. Shaft THD        10.0   1       3
7  2023-05-22  M/C No. 4     Sukh             test        10.0   1       3
8  2023-05-23  M/C No. 5     Sukh   S.R. Shaft THD        10.0   1       3
9  2023-05-24  M/C No. 6     Sukh   S.R. Shaft THD        10.0   1       3
10 2023-05-25  M/C No. 7     Sukh             test        10.0   1       3
11 2023-05-26  M/C No. 8     Sukh   S.R. Shaft THD        10.0   1       3
12 2023-05-27  M/C No. 9     Sukh   S.R. Shaft THD        10.0   1       3
13 2023-07-03  M/C No. 6     Sukh  ALU. BUSH FINAL         9.0   0       1
14 2023-07-03  M/C No. 2     Sukh   S.R. Shaft THD        10.0   1       1
15 2023-07-03  M/C No. 2     Sukh   S.R. Shaft THD       100.0   8       9

   OTHER  Total_Rej  Final_Prod Start_Time  End_Time   time_difference
0      3        6.0         4.0   08:30:00  15:30:00   0 days 07:00:00
1      3        6.0         4.0   08:30:00  05:30:00 -1 days +21:00:00
2      3        6.0         6.0   08:00:00  12:00:00   0 days 04:00:00
3      1        7.0         8.0   08:30:00  13:30:00   0 days 05:00:00
4      3       18.0         7.0   08:30:00  13:30:00   0 days 05:00:00
5      2        6.0         4.0   10:30:00  15:00:00   0 days 04:30:00
6      2        6.0         4.0   11:30:00  16:00:00   0 days 04:30:00
7      2        6.0         4.0   12:30:00  17:00:00   0 days 04:30:00
8      2        6.0         4.0   13:30:00  18:00:00   0 days 04:30:00
9      2        6.0         4.0   14:30:00  19:00:00   0 days 04:30:00
10     2        6.0         4.0   15:30:00  20:00:00   0 days 04:30:00
11     2        6.0         4.0   16:30:00  21:00:00   0 days 04:30:00
12     2        6.0         4.0   17:30:00  22:00:00   0 days 04:30:00
13     0        1.0         8.0   08:10:00  21:30:00   0 days 13:20:00
14     2        4.0         6.0   08:30:00  21:10:00   0 days 12:40:00
15    10       27.0        73.0   09:00:00  19:30:00   0 days 10:30:00

In [13]:
total_time = df1['time_difference'].sum()

In [14]:
total_hours = total_time.total_seconds() / 3600

print(total_hours)

90.5

In [15]:
df1

,Date,Machines,Operator,Job,Total_Prod,M/C,CASTING,OTHER,Total_Rej,Final_Prod,Start_Time,End_Time,time_difference
0,2023-06-01,M/C No. 2,Sukh,test,10.0,1,2,3,6.0,4.0,08:30:00,15:30:00,0 days 07:00:00
1,2023-06-02,M/C No. 7,Sukh,ALU. BUSH ROUGH,10.0,1,2,3,6.0,4.0,08:30:00,05:30:00,-1 days +21:00:00
2,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,12.0,1,2,3,6.0,6.0,08:00:00,12:00:00,0 days 04:00:00
3,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,15.0,6,0,1,7.0,8.0,08:30:00,13:30:00,0 days 05:00:00
4,2023-06-02,M/C No. 2,Sukh,test,25.0,10,5,3,18.0,7.0,08:30:00,13:30:00,0 days 05:00:00
5,2023-05-20,M/C No. 2,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,10:30:00,15:00:00,0 days 04:30:00
6,2023-05-21,M/C No. 3,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,11:30:00,16:00:00,0 days 04:30:00
7,2023-05-22,M/C No. 4,Sukh,test,10.0,1,3,2,6.0,4.0,12:30:00,17:00:00,0 days 04:30:00
8,2023-05-23,M/C No. 5,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,13:30:00,18:00:00,0 days 04:30:00
9,2023-05-24,M/C No. 6,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,14:30:00,19:00:00,0 days 04:30:00
10,2023-05-25,M/C No. 7,Sukh,test,10.0,1,3,2,6.0,4.0,15:30:00,20:00:00,0 days 04:30:00
11,2023-05-26,M/C No. 8,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,16:30:00,21:00:00,0 days 04:30:00
12,2023-05-27,M/C No. 9,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,17:30:00,22:00:00,0 days 04:30:00
13,2023-07-03,M/C No. 6,Sukh,ALU. BUSH FINAL,9.0,0,1,0,1.0,8.0,08:10:00,21:30:00,0 days 13:20:00
14,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,10.0,1,1,2,4.0,6.0,08:30:00,21:10:00,0 days 12:40:00
15,2023-07-03,M/C No. 2,Sukh,S.R. Shaft THD,100.0,8,9,10,27.0,73.0,09:00:00,19:30:00,0 days 10:30:00

In [16]:
# import pandas as pd

# Create a sample DataFrame
# data = {
#     'time_string': ['08:00', '12:30', '18:15']
# }

# df = pd.DataFrame(data)
df1=df.copy()
# Convert the 'time_string' column to time object

df1['Start_Time'] = pd.to_datetime(df1['Start_Time'], format='%H:%M')
df1['End_Time'] = pd.to_datetime(df1['End_Time'], format='%H:%M')

# Calculate the time difference
df1['time_difference'] = df1['End_Time'] - df1['Start_Time']

df1['Start_Time'] = pd.to_datetime(df1['Start_Time'], format='%H:%M').dt.time
df1['End_Time'] = pd.to_datetime(df1['End_Time'], format='%H:%M').dt.time

# df1['time_difference'] = pd.to_datetime(df1['time_difference'], format='%H:%M:%S')
# df1['diff']=df1['End_Time'] -  df1['Start_Time']
# # Display the DataFrame
print(df1)

         Date   Machines Operator              Job  Total_Prod M/C CASTING  \
0  2023-06-01  M/C No. 2     Sukh             test        10.0   1       2
1  2023-06-02  M/C No. 7     Sukh  ALU. BUSH ROUGH        10.0   1       2
2  2023-06-02  M/C No. 2     Sukh   S.R. Shaft THD        12.0   1       2
3  2023-06-02  M/C No. 2     Sukh   S.R. Shaft THD        15.0   6       0
4  2023-06-02  M/C No. 2     Sukh             test        25.0  10       5
5  2023-05-20  M/C No. 2     Sukh   S.R. Shaft THD        10.0   1       3
6  2023-05-21  M/C No. 3     Sukh   S.R. Shaft THD        10.0   1       3
7  2023-05-22  M/C No. 4     Sukh             test        10.0   1       3
8  2023-05-23  M/C No. 5     Sukh   S.R. Shaft THD        10.0   1       3
9  2023-05-24  M/C No. 6     Sukh   S.R. Shaft THD        10.0   1       3
10 2023-05-25  M/C No. 7     Sukh             test        10.0   1       3
11 2023-05-26  M/C No. 8     Sukh   S.R. Shaft THD        10.0   1       3
12 2023-05-27  M/C No. 9     Sukh   S.R. Shaft THD        10.0   1       3
13 2023-07-03  M/C No. 6     Sukh  ALU. BUSH FINAL         9.0   0       1
14 2023-07-03  M/C No. 2     Sukh   S.R. Shaft THD        10.0   1       1
15 2023-07-03  M/C No. 2     Sukh   S.R. Shaft THD       100.0   8       9

   OTHER  Total_Rej  Final_Prod Start_Time  End_Time   time_difference
0      3        6.0         4.0   08:30:00  15:30:00   0 days 07:00:00
1      3        6.0         4.0   08:30:00  05:30:00 -1 days +21:00:00
2      3        6.0         6.0   08:00:00  12:00:00   0 days 04:00:00
3      1        7.0         8.0   08:30:00  13:30:00   0 days 05:00:00
4      3       18.0         7.0   08:30:00  13:30:00   0 days 05:00:00
5      2        6.0         4.0   10:30:00  15:00:00   0 days 04:30:00
6      2        6.0         4.0   11:30:00  16:00:00   0 days 04:30:00
7      2        6.0         4.0   12:30:00  17:00:00   0 days 04:30:00
8      2        6.0         4.0   13:30:00  18:00:00   0 days 04:30:00
9      2        6.0         4.0   14:30:00  19:00:00   0 days 04:30:00
10     2        6.0         4.0   15:30:00  20:00:00   0 days 04:30:00
11     2        6.0         4.0   16:30:00  21:00:00   0 days 04:30:00
12     2        6.0         4.0   17:30:00  22:00:00   0 days 04:30:00
13     0        1.0         8.0   08:10:00  21:30:00   0 days 13:20:00
14     2        4.0         6.0   08:30:00  21:10:00   0 days 12:40:00
15    10       27.0        73.0   09:00:00  19:30:00   0 days 10:30:00