In [1]:
#imports
import datetime
import pandas as pd

In [2]:
#read google sheets 
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vT6HrGh7EOzzejrvzkG_TGUM_GoGVDuvlUq7UcYqHlESZX6Vv8Hvwatsp4FLdE4Nmff9z5LSG3KQFq9/pub?gid=1362009325&single=true&output=csv')

In [3]:
df

,Date,Machines,Operator,Job,Total Prod,Rejection,Unnamed: 6,Unnamed: 7,Total Rej,Final Prod,Timming,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,M/C,Casting,Other,NaN,NaN,Start Time,End Time
1,1-6-2023,M/C No. 2,Sukh,test,10.0,1,2,3,6.0,4.0,08:30,15:30
2,2-6-2023,M/C No. 7,Sukh,ALU. BUSH ROUGH,10.0,1,2,3,6.0,4.0,08:30,05:30
3,2-6-2023,M/C No. 2,Sukh,S.R. Shaft THD,12.0,1,2,3,6.0,6.0,08:00,12:00
4,2-6-2023,M/C No. 2,Sukh,S.R. Shaft THD,15.0,6,0,1,7.0,8.0,08:30,13:30
5,2-6-2023,M/C No. 2,Sukh,test,25.0,10,5,3,18.0,7.0,08:30,13:30
6,20-5-2023,M/C No. 2,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,10:30,15:00
7,21-5-2023,M/C No. 3,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,11:30,16:00
8,22-5-2023,M/C No. 4,Sukh,test,10.0,1,3,2,6.0,4.0,12:30,17:00
9,23-5-2023,M/C No. 5,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,13:30,18:00
10,24-5-2023,M/C No. 6,Sukh,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,14:30,19:00
11,25-5-2023,M/C No. 7,Sukh,test,10.0,1,3,2,6.0,4.0,15:30,20:00
12,26-5-2023,M/C No. 8,som,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,16:30,21:00
13,27-5-2023,M/C No. 9,som,S.R. Shaft THD,10.0,1,3,2,6.0,4.0,17:30,22:00
14,3-7-2023,M/C No. 6,som,ALU. BUSH FINAL,9.0,0,1,0,1.0,8.0,08:10,21:30
15,3-7-2023,M/C No. 2,som,S.R. Shaft THD,10.0,1,1,2,4.0,6.0,08:30,21:10
16,3-7-2023,M/C No. 2,som,S.R. Shaft THD,100.0,8,9,10,27.0,73.0,09:00,19:30
17,4-7-2023,M/C No. 3,som,S.R. Shaft THD,100.0,8,9,10,27.0,73.0,10:00,20:30
18,5-7-2023,M/C No. 4,happy,S.R. Shaft THD,100.0,8,9,10,27.0,73.0,11:00,21:30
19,6-7-2023,M/C No. 5,happy,S.R. Shaft THD,100.0,8,9,10,27.0,73.0,12:00,22:30
20,7-7-2023,M/C No. 6,happy,S.R. Shaft THD,100.0,8,9,10,27.0,73.0,13:00,23:30

In [4]:
#renamed columns
df.rename(columns = {'Rejection':'M/C', 'Unnamed: 6':'CASTING',
                              'Unnamed: 7':'OTHER','Timming':'Start_Time','Unnamed: 11':'End_Time','Total Prod':'Total_Prod','Final Prod':'Final_Prod','Total Rej':'Total_Rej'}, inplace = True)

In [5]:
df=df.drop(index=0)
df=df.reset_index(drop=True)

In [6]:
type(df.loc[0,'Date'])

str

In [7]:
df['Date'] = pd.to_datetime(df['Date'],format='%d-%m-%Y')

In [8]:
# Convert the 'time_string' column to time object
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%H:%M')
df['End_Time'] = pd.to_datetime(df['End_Time'], format='%H:%M')


# Calculate the time difference
 
df['time_difference1'] = df['End_Time'] - df['Start_Time'] 
df['time_difference1'] = df['time_difference1'] - pd.Timedelta(hours=1, minutes=30)
df['time_difference'] = df['time_difference1'].apply(lambda x: '{:02d}:{:02d}'.format(int(x.seconds // 3600), int((x.seconds // 60) % 60)))

df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='%H:%M').dt.time
df['End_Time'] = pd.to_datetime(df['End_Time'], format='%H:%M').dt.time
df['time_difference'] = pd.to_datetime(df['time_difference'], format='%H:%M').dt.time

# Display the DataFrame
print(df)

         Date   Machines Operator              Job  Total_Prod M/C CASTING  \
0  2023-06-01  M/C No. 2     Sukh             test        10.0   1       2
1  2023-06-02  M/C No. 7     Sukh  ALU. BUSH ROUGH        10.0   1       2
2  2023-06-02  M/C No. 2     Sukh   S.R. Shaft THD        12.0   1       2
3  2023-06-02  M/C No. 2     Sukh   S.R. Shaft THD        15.0   6       0
4  2023-06-02  M/C No. 2     Sukh             test        25.0  10       5
5  2023-05-20  M/C No. 2     Sukh   S.R. Shaft THD        10.0   1       3
6  2023-05-21  M/C No. 3     Sukh   S.R. Shaft THD        10.0   1       3
7  2023-05-22  M/C No. 4     Sukh             test        10.0   1       3
8  2023-05-23  M/C No. 5     Sukh   S.R. Shaft THD        10.0   1       3
9  2023-05-24  M/C No. 6     Sukh   S.R. Shaft THD        10.0   1       3
10 2023-05-25  M/C No. 7     Sukh             test        10.0   1       3
11 2023-05-26  M/C No. 8      som   S.R. Shaft THD        10.0   1       3
12 2023-05-27  M/C No. 9      som   S.R. Shaft THD        10.0   1       3
13 2023-07-03  M/C No. 6      som  ALU. BUSH FINAL         9.0   0       1
14 2023-07-03  M/C No. 2      som   S.R. Shaft THD        10.0   1       1
15 2023-07-03  M/C No. 2      som   S.R. Shaft THD       100.0   8       9
16 2023-07-04  M/C No. 3      som   S.R. Shaft THD       100.0   8       9
17 2023-07-05  M/C No. 4    happy   S.R. Shaft THD       100.0   8       9
18 2023-07-06  M/C No. 5    happy   S.R. Shaft THD       100.0   8       9
19 2023-07-07  M/C No. 6    happy   S.R. Shaft THD       100.0   8       9

   OTHER  Total_Rej  Final_Prod Start_Time  End_Time  time_difference1  \
0      3        6.0         4.0   08:30:00  15:30:00   0 days 05:30:00
1      3        6.0         4.0   08:30:00  05:30:00 -1 days +19:30:00
2      3        6.0         6.0   08:00:00  12:00:00   0 days 02:30:00
3      1        7.0         8.0   08:30:00  13:30:00   0 days 03:30:00
4      3       18.0         7.0   08:30:00  13:30:00   0 days 03:30:00
5      2        6.0         4.0   10:30:00  15:00:00   0 days 03:00:00
6      2        6.0         4.0   11:30:00  16:00:00   0 days 03:00:00
7      2        6.0         4.0   12:30:00  17:00:00   0 days 03:00:00
8      2        6.0         4.0   13:30:00  18:00:00   0 days 03:00:00
9      2        6.0         4.0   14:30:00  19:00:00   0 days 03:00:00
10     2        6.0         4.0   15:30:00  20:00:00   0 days 03:00:00
11     2        6.0         4.0   16:30:00  21:00:00   0 days 03:00:00
12     2        6.0         4.0   17:30:00  22:00:00   0 days 03:00:00
13     0        1.0         8.0   08:10:00  21:30:00   0 days 11:50:00
14     2        4.0         6.0   08:30:00  21:10:00   0 days 11:10:00
15    10       27.0        73.0   09:00:00  19:30:00   0 days 09:00:00
16    10       27.0        73.0   10:00:00  20:30:00   0 days 09:00:00
17    10       27.0        73.0   11:00:00  21:30:00   0 days 09:00:00
18    10       27.0        73.0   12:00:00  22:30:00   0 days 09:00:00
19    10       27.0        73.0   13:00:00  23:30:00   0 days 09:00:00

   time_difference
0         05:30:00
1         19:30:00
2         02:30:00
3         03:30:00
4         03:30:00
5         03:00:00
6         03:00:00
7         03:00:00
8         03:00:00
9         03:00:00
10        03:00:00
11        03:00:00
12        03:00:00
13        11:50:00
14        11:10:00
15        09:00:00
16        09:00:00
17        09:00:00
18        09:00:00
19        09:00:00

In [9]:
total_time = df['time_difference1'].sum()
# df=df.drop(['time_difference1'], axis=1)
total_hours = total_time.total_seconds() / 3600

print(total_hours)

102.5

In [10]:
job='S.R. Shaft THD'
breakTime='01:30'
start_date= '2023-06-01'
end_date= '2023-07-07'

# mask = (df['date'] > start_date) & (df['date'] <= end_date)
mask = (df['Date'] > start_date) & (df['Date'] <= end_date)
datedf=df.loc[mask]
newdf= datedf[datedf['Job']==job]
newdf=newdf.reset_index(drop=True)
newdf = newdf.astype({'Total_Prod':'int','M/C':'int','CASTING':'int','OTHER':'int','Total_Rej':'int','Final_Prod':'int'})
newdf

,Date,Machines,Operator,Job,Total_Prod,M/C,CASTING,OTHER,Total_Rej,Final_Prod,Start_Time,End_Time,time_difference1,time_difference
0,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,12,1,2,3,6,6,08:00:00,12:00:00,0 days 02:30:00,02:30:00
1,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,15,6,0,1,7,8,08:30:00,13:30:00,0 days 03:30:00,03:30:00
2,2023-07-03,M/C No. 2,som,S.R. Shaft THD,10,1,1,2,4,6,08:30:00,21:10:00,0 days 11:10:00,11:10:00
3,2023-07-03,M/C No. 2,som,S.R. Shaft THD,100,8,9,10,27,73,09:00:00,19:30:00,0 days 09:00:00,09:00:00
4,2023-07-04,M/C No. 3,som,S.R. Shaft THD,100,8,9,10,27,73,10:00:00,20:30:00,0 days 09:00:00,09:00:00
5,2023-07-05,M/C No. 4,happy,S.R. Shaft THD,100,8,9,10,27,73,11:00:00,21:30:00,0 days 09:00:00,09:00:00
6,2023-07-06,M/C No. 5,happy,S.R. Shaft THD,100,8,9,10,27,73,12:00:00,22:30:00,0 days 09:00:00,09:00:00
7,2023-07-07,M/C No. 6,happy,S.R. Shaft THD,100,8,9,10,27,73,13:00:00,23:30:00,0 days 09:00:00,09:00:00

In [11]:
sumrow={'Total_Prod':sum(newdf['Total_Prod']),'M/C':sum(newdf['M/C']),'CASTING':sum(newdf['CASTING']),'OTHER':sum(newdf['OTHER']),'Final_Prod':sum(newdf['Final_Prod']),'time_difference':total_hours}
sumrow= pd.DataFrame(sumrow,index=['Total'])
newdf = pd.concat([newdf, sumrow], axis=0)
newdf

,Date,Machines,Operator,Job,Total_Prod,M/C,CASTING,OTHER,Total_Rej,Final_Prod,Start_Time,End_Time,time_difference1,time_difference
0,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,12,1,2,3,6.0,6,08:00:00,12:00:00,0 days 02:30:00,02:30:00
1,2023-06-02,M/C No. 2,Sukh,S.R. Shaft THD,15,6,0,1,7.0,8,08:30:00,13:30:00,0 days 03:30:00,03:30:00
2,2023-07-03,M/C No. 2,som,S.R. Shaft THD,10,1,1,2,4.0,6,08:30:00,21:10:00,0 days 11:10:00,11:10:00
3,2023-07-03,M/C No. 2,som,S.R. Shaft THD,100,8,9,10,27.0,73,09:00:00,19:30:00,0 days 09:00:00,09:00:00
4,2023-07-04,M/C No. 3,som,S.R. Shaft THD,100,8,9,10,27.0,73,10:00:00,20:30:00,0 days 09:00:00,09:00:00
5,2023-07-05,M/C No. 4,happy,S.R. Shaft THD,100,8,9,10,27.0,73,11:00:00,21:30:00,0 days 09:00:00,09:00:00
6,2023-07-06,M/C No. 5,happy,S.R. Shaft THD,100,8,9,10,27.0,73,12:00:00,22:30:00,0 days 09:00:00,09:00:00
7,2023-07-07,M/C No. 6,happy,S.R. Shaft THD,100,8,9,10,27.0,73,13:00:00,23:30:00,0 days 09:00:00,09:00:00
Total,NaT,NaN,NaN,NaN,537,48,48,56,NaN,385,NaN,NaN,NaT,102.5

In [12]:
newdf.shape[0]

9

In [13]:
# Get the distinct values in a specific column
distinct_values = df['Operator'].unique()  # Replace 'column_name' with the actual column name

distinct_values=list(distinct_values)
# distinct_values.pop()
distinct_values

['Sukh', 'som', 'happy']

In [14]:
op1=newdf[newdf['Operator']==distinct_values[0]]
days=op1.shape[0]
total_timeop = op1['time_difference1'].sum()
# df=df.drop(['time_difference1'], axis=1)
total_hoursop = total_timeop.total_seconds() / 3600
sum_prodop=sum(op1['Total_Prod'])
sum_mcop=sum(op1['M/C'])
sum_castop=sum(op1['CASTING'])
sum_otherop=sum(op1['OTHER'])
sum_finalprodop=sum(op1['Final_Prod'])

avg_hourlyop=round((sum_prodop/total_hoursop),2)
avg_dayop=round((sum_prodop/days),2)
print(days, total_hoursop, sum_prodop, sum_mcop, sum_castop, sum_otherop, sum_finalprodop, avg_hourlyop, avg_dayop)

2 6.0 27 7 2 4 14 4.5 13.5

In [15]:
days=[] 
total_hours =[]
sum_prod=[]
sum_mc=[]
sum_cast=[]
sum_other=[]
sum_finalprod=[]
avg_hourly=[]
avg_day=[]
for i in range(len(distinct_values)):
    op1=newdf[newdf['Operator']==distinct_values[i]]
    daysop=op1.shape[0]
    days.append(daysop)
    total_timeop = op1['time_difference1'].sum()
    total_hoursop = round(total_timeop.total_seconds() / 3600,2)
    total_hours.append(total_hoursop)
    sum_prodop=sum(op1['Total_Prod'])
    sum_prod.append(sum_prodop)
    sum_mcop=sum(op1['M/C'])
    sum_mc.append(sum_mcop)
    sum_castop=sum(op1['CASTING'])
    sum_cast.append(sum_castop)
    sum_otherop=sum(op1['OTHER'])
    sum_other.append(sum_otherop)
    sum_finalprodop=sum(op1['Final_Prod'])
    sum_finalprod.append(sum_finalprodop)
    avg_hourlyop=round((sum_prodop/total_hoursop),2)
    avg_hourly.append(avg_hourlyop)
    avg_dayop=round((sum_prodop/daysop),2)
    avg_day.append(avg_dayop)
product={
    'Operator':distinct_values,
    'DAYS':days,
    'HOURS': total_hours,
    'Total_Prod':sum_prod,
    'M/C':sum_mc,
    'Casting':sum_cast,
    'Other':sum_other,
    'Final_Prod':sum_finalprod,
    'Hourly_Avg':avg_hourly,
    'Day_Avg':avg_day
}
print(product)
prod_df=pd.DataFrame(product)
prod_df['Deduct_Machine_rej']=prod_df['Total_Prod']-prod_df['M/C']
targetv=55
incentivev=0.70
prod_df['Hours X Target']=prod_df['HOURS']*targetv
prod_df['Extra Prod']=prod_df['Deduct_Machine_rej']-prod_df['Hours X Target']
prod_df['Incentive']=prod_df['Extra Prod']*incentivev
prod_df

{'Operator': ['Sukh', 'som', 'happy'], 'DAYS': [2, 3, 3], 'HOURS': [6.0, 29.17, 27.0], 'Total_Prod': [27, 210, 300], 'M/C': [7, 17, 24], 'Casting': [2, 19, 27], 'Other': [4, 22, 30], 'Final_Prod': [14, 152, 219], 'Hourly_Avg': [4.5, 7.2, 11.11], 'Day_Avg': [13.5, 70.0, 100.0]}

,Operator,DAYS,HOURS,Total_Prod,M/C,Casting,Other,Final_Prod,Hourly_Avg,Day_Avg,Deduct_Machine_rej,Hours X Target,Extra Prod,Incentive
0,Sukh,2,6.00,27,7,2,4,14,4.50,13.5,20,330.00,-310.00,-217.000
1,som,3,29.17,210,17,19,22,152,7.20,70.0,193,1604.35,-1411.35,-987.945
2,happy,3,27.00,300,24,27,30,219,11.11,100.0,276,1485.00,-1209.00,-846.300

In [16]:
op1

,Date,Machines,Operator,Job,Total_Prod,M/C,CASTING,OTHER,Total_Rej,Final_Prod,Start_Time,End_Time,time_difference1,time_difference
5,2023-07-05,M/C No. 4,happy,S.R. Shaft THD,100,8,9,10,27.0,73,11:00:00,21:30:00,0 days 09:00:00,09:00:00
6,2023-07-06,M/C No. 5,happy,S.R. Shaft THD,100,8,9,10,27.0,73,12:00:00,22:30:00,0 days 09:00:00,09:00:00
7,2023-07-07,M/C No. 6,happy,S.R. Shaft THD,100,8,9,10,27.0,73,13:00:00,23:30:00,0 days 09:00:00,09:00:00